#
# This is an example of a dagmaker.rc file
# The DAGMaker will look for this file in the same dir where it is running.
# If this file is not found by the DAGMaker.sh script,
# the dag will be created using some default options which might not be optimal.
# Please change this to reflect your desired configuration.
#
RNUM=4
#
PNUM=4
#
SEASON=5000
#
DIFFIMG_EUPS_VERSION=gw5
#
WRITEDB=on
#
JOBSUB_OPTS=" --email-to=kherner@fnal.gov --disk=70GB"
#
JOBSUB_OPTS_SE="--memory=3600MB --disk=100GB --cpu=4 --expected-lifetime=5h"
#
RESOURCES="DEDICATED,OPPORTUNISTIC,OFFSITE"
#
IGNORECALIB=false
#
DESTCACHE=persistent
#
# optional additional arguments to SE_job.sh, off by default
SE_OPTS="-C"
SCHEMA="wsdiff"
TEFF_CUT_g=0.2
TEFF_CUT_i=0.3
TEFF_CUT_r=0.3
TEFF_CUT_Y=0.2
TEFF_CUT_z=0.3
TEFF_CUT_u=0.2
TWINDOW=30
#
#### ONLY use this option if you have nothing but late-time templates. It should be commented out for standard nightly diffim running.
#MIN_NITE=20170831
#
#this variable tells DAGMaker to remove as templates any images that it sees as missing SE output. This should only
#only be used when you are certain you do not want to use any non-DES images and have already fetched all SE outputs from DESDM.
SKIP_INCOMPLETE_SE=true